<div class="notes-section col-xs-12">
    <div>
        <div style="font-size: 15px; font-weight: bold;">销售反馈说明：</div>
        <div style="margin-bottom: 10px;display: flex; flex-direction: column;">
            <span>1、电话是否打通。</span>
            <span>2、微信是否通过。</span>
            <span>3、线索有效/无效情况详细说明。</span>
        </div>
        <div style="font-size: 15px; font-weight: bold;">线索跟进不及时惩罚机制：</div>
        <div style="margin-bottom: 10px;display: flex; flex-direction: column;">
            <span>每晚22:00进行线索跟进时间分析</span>
            <span>1、昨日8:00-昨日21:00之间的线索，如果在分配后36分钟内未及时跟进，则暂停自动分配线索7天。</span>
            <span>2、昨日21:00-今日8:00之间的线索，（凌晨线索客户极大可能在睡觉，建议大家先加微信，ebc备注添加微信，十点左右再打电话）如果在分配后至今日11:00仍未跟进，则暂停自动分配线索7天。</span>
        </div>
        <!-- 期望回访时间段 -->
        <div class="revisit">
            <div class="revisit-title">请尽快回访，避免错过商机</div>
            <div class="revisit-create-date"></div>
            <div class="revisit-time-box">
                
            </div>
        </div>
    </div>
    {% if (!frappe.pages.Lead.frm.docname || frappe.pages.Lead.frm.doc.custom_sea == '私海') { %}
    <div class="new-btn pb-3">
        <button class="btn btn-sm small new-note-btn mr-1">
            <svg class="icon icon-sm">
                <use href="#icon-add"></use>
            </svg>
            {{ __("New Note") }}
        </button>
    </div>
    
    {% } %}
    <div class="all-notes">
        {% if (notes.length) { %}
        {% for(var i=0, l=notes.length; i<l; i++) { %} 
        {% if (['销售反馈', '客服反馈', '网推反馈'].includes(notes[i].custom_note_type)) { %}
        <div class="comment-content p-3 row" name="{{ notes[i].name }}">
            <div class="mb-2 head col-xs-3">
                {% if (notes[i].added_by && notes[i].added_on) %}
                <div class="row">
                    <div class="col-xs-2">
                        {{ frappe.avatar(notes[i].added_by) }}
                    </div>
                    <div class="col-xs-10">
                        <div class="mr-2 title font-weight-bold ellipsis" title="{{ strip_html(notes[i].added_by) }}">
                            {% if (notes[i].added_by == "jintingyan@zhushigroup.cn" || notes[i].added_by ==
                            "wangjiali@zhushigroup.cn")%}
                            回访客服
                            {% } %}
                        </div>
                        <div class="time small text-muted">
                            {{ frappe.datetime.get_datetime_as_string(notes[i].added_on) }}
                        </div>
                    </div>
                </div>
                {% } %}
            </div>
            <div class="content col-xs-8">{{ notes[i].note }}</div>
            <div class="col-xs-1 text-right">
                <!-- <span class="edit-note-btn btn btn-link">
							<svg class="icon icon-sm"><use xlink:href="#icon-edit"></use></svg>
						</span> -->
                <!-- {% if(frappe.user == notes[i].added_by) { %}
                            <span class="delete-note-btn  btn btn-link pl-2">
                                <svg class="icon icon-xs"><use xlink:href="#icon-delete"></use></svg>
                            </span>
                        {% } %} -->
            </div>
    
        </div>
        {% } %}
    
        {% } %}
        {% } else { %}
        <div class="no-activity text-muted pt-6">
            {{ __("No Notes") }}
        </div>
        {% } %}
    </div>
</div>

<style>
    .comment-content {
        border: 1px solid var(--border-color);
        border-bottom: none;
    }

    .comment-content:last-child {
        border-bottom: 1px solid var(--border-color);
    }

    .new-btn {
        text-align: right;
    }

    .notes-section .no-activity {
        min-height: 100px;
        text-align: center;
    }

    .notes-section .btn {
        padding: 0.2rem 0.2rem;
    }

    .revisit-title {
        font-size: 15px;
        font-weight: bold;
    }

    .revisit-time-box {
        display: flex;
        justify-content: space-around;
    }
    .revisit-create-date {
        margin: 5px 0;
    }
    .time-box-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .time-body {
        text-align: center;
    }
    .time-description {
        max-width: 120px;
        text-align: center;
    }

    .times {
        font-size: 16px;
        font-weight: bold;
    }

    .time-num {
        background-color:  #f1f0f0;
        color: #aaaaaa;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        margin: 5px 0;
    }
    .time-title {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .time-title::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 100%;
        transform: translateX(-50%);
        width: 50%;
        height: 3px;
        background-color: #e4e5e6;
    }
    .last::after {
        display: none;
    }
    .expired-bg-color {
        background-color: #f5f54b;
        color: #dbb004;
    }
    .success-bg-color {
        background-color: #4e6ef2;
        color: white;
    }

    @media screen and (max-width: 567px) {
        .revisit-time-box {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .time-num {
            border: 1px solid #f1f0f0;
            font-weight: 500;
            border-radius: 50%;
            font-size: 14px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-right: 5px;
            position: relative;
        }
        .time-title {
            width: auto;
            display: flex;
            justify-content: center;
            position: relative;
        }
        .time-title::after {
            content: "";
            position: absolute;
            top: 35px;
            left: 15px;
            width: 3px;
            height: 100%;
            background-color: #e4e5e6;
        }
        .revisit-create-date {
            font-size: 12px;
        }
        .time-body {
            text-align: start;
        }
        .times {
            font-size: 12px;
            display: inline-block;
            height: 25px;
            line-height: 25px;
        }

        .time-description {
            text-align: start;
            max-width: none;
            font-size: 12px;
        }

        .time-box-item {
            display: flex;
            flex-direction: row;
            align-items: self-start;
        }
    }
</style>