[data-theme="aiera"] {
    // Layout Colors
    --bg-color: #F4F8FD;
    --popover-bg: #F4F8FD;

    body,
    .main-section {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .sticky-top {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
    }

    .navbar,
    .page-head,
    .page-container {
        background: transparent;
    }

    .layout-main-section {
        background: transparent;
        border-radius: var(--border-radius-md);

        .page-form {
            background-color: rgba(255, 255, 255, 0.60);
            border: 1px solid #FFF;
            border-bottom: none
        }

        .frappe-list {
            background-color: rgba(255, 255, 255, 0.60);
            border: 1px solid #FFF;
        }
    }

    .layout-main-section-wrapper .layout-main-section {
        background-color: rgba(255, 255, 255, 0.60);
        border: 1px solid #FFF;
    }


    // list view styles
    .list-row-head {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: #F1F6FF;
        height: 48px;
    }

    .list-sidebar-button {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.60);
    }

    .list-filters .input-area .frappe-control .form-group .control-input-wrapper .control-input .input-with-feedback {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.60);
    }

    // timeline styles
    .timeline-item {
        background: transparent;
    }

    .timeline-items {
        background: transparent;
    }

    .indicator-pill {
        height: 26px;
        border-radius: 6px;
    }

    .spacer {
        background: transparent;
    }

    [data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
        background: transparent;
        border: none;
    }

    .widget {
        background: rgba(255, 255, 255, 0.60);
        border-radius: 12px;
        border: 1px solid #FFF;

        .shortcut-widget-box {
            border-radius: 10px;
            // justify for shortcut widget box
            justify-content: center;
        }
    }

    .widget.dashboard-widget-box .filter-chart {
        background-color: #F5F9FE !important;
    }

    .dropdown-menu {
        background-color: #F4F8FD;
    }


    .standard-sidebar-item.selected {
        background-image: linear-gradient(90deg, #3264F6 0%, #7A88FF 100%);
        height: 48px;
    }

    .standard-sidebar-item {
        height: 48px;
    }

    .standard-sidebar-item:hover {
        background-color: #E8F1FF;
        cursor: pointer;
    }

    .desk-sidebar-item.selected .sidebar-item-label {
        color: white !important;
    }

    .desk-sidebar-item.selected svg {
        fill: white !important;
    }

    // button style
    .btn,
    .btn-default,
    .btn-secondary,
    .grid-buttons button {
        background-color: #F5F9FE;
        border: 1px solid #FFF;
    }


    .btn.btn-primary {
        background-image: linear-gradient(90deg, #3264F6 0%, #7A88FF 100%);

        &:active {
            color: var(--gray-100) !important;
        }
    }

    .form-sidebar .sidebar-image-section {
        .sidebar-standard-image {
            border-radius: 20px;
            border: none;
        }

        .standard-image {
            border-radius: 20px;
            border: 1px solid #FFF;
            background: rgba(170, 179, 255, 0.40);
        }
    }

    .form-sidebar .sidebar-menu .form-sidebar-items {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.60);
        // justify center for form sidebar items
        padding-top: var(--padding-sm)/2;
        padding-bottom: var(--padding-sm)/2;
    }


    // input control
    // filters
    .list_filter .form-group {
        .awesomplete input {
            background-color: rgba(255, 255, 255, 0.60);
            border: 1px solid #FFF;
        }

        .condition {
            background-color: rgba(255, 255, 255, 0.60);
            border: 1px solid #FFF;
        }

        .filter-field .form-group {

            select,
            input {
                background-color: rgba(255, 255, 255, 0.60);
                border: 1px solid #FFF;
            }

        }
    }

    .filter-section {
        .filter-selector .btn-group button {
            border: 1px solid #E8E8E8;
            background: #FFF;

            &:hover {
                background: #F4F8FD;
            }
        }

        .sort-selector .btn-group button {
            border: 1px solid #E8E8E8;
            background: #FFF;

            &:hover {
                background: #F4F8FD;
            }
        }
    }

    // filters with values
    .btn-primary-light {
        background: #F4F8FD !important
    }



    .form-control:focus {
        background-color: #F4F8FD;
        border: 1px solid #3264F6;
        box-shadow: 0 0 0 2px #F4F8FD88;
    }

    // standard-filter-section
    .standard-filter-section .form-group .input-with-feedback {
        border-radius: 5px;
        border: 1px solid #E8E8E8;
        background: #FFF;

        &:focus {
            border: 1px solid #3264F6;
        }
    }

    textarea {
        border: 1px solid #FFF;
        background: #F0F6FF;
    }

    .control-input {
        input,
        .link-field .awesomplete input,
        select {
            border: 1px solid #FFF !important;
            background: #F0F6FF;

            &:focus {
                border: 1px solid #3264F6;
            }
        }
    }

    // comment box, important is nessary!
    .comment-box .comment-input-container .frappe-control .ql-editor {
        border: 1px solid #FFF !important;
        background: #F0F6FF !important;

        &:hover {
            border: 1px solid #3264F6 !important;
        }
    }

    // for tab label and underline
    .form-tabs-list .form-tabs .nav-item .nav-link.active {
        font-weight: 600;
        border-bottom: 3px solid #5877FB;
        color: #5877FB;
    }

    // search bar input style
    .search-bar {
        .awesomplete input {
            background-color: rgba(255, 255, 255, 0.60);
            border: 1px solid #FFF;
        }

        .awesomplete>[role=listbox] {
            border: 1px solid #FFF;
            background-color: #F0F6FF;
        }

        .awesomplete>[role=listbox]>li:hover,
        .awesomplete>[role=listbox]>li[aria-selected=true],
        .awesomplete>[role=listbox]>[role=option]:hover,
        .awesomplete>[role=listbox]>[role=option][aria-selected=true] {
            background-color: rgba(0, 0, 0, 0.04);
            ;
        }
    }
}

.btn-uom {
    background-color: white;
    width: 56px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.btn-uom.selected {
    background-image: url("/assets/erpnext_china/icons/uom.svg");
    color: #FFF;
}

.btn-uom:hover {
    background-color: #E0E9FF;
}