[data-theme="aiera"] {
    body {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .main-section {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .sticky-top {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% auto;
        /* 横向100%拉伸，垂直方向自适应高度 */
        background-repeat: no-repeat;
        background-position: left top; 
        /* 垂直方向居中显示 */
    }

    .page-container {
        background: transparent;
    }

    .navbar {
        background: transparent;
    }

    .page-head {
        background: transparent;
    }

    .layout-main-section {
        background: transparent;
        .page-form {
            background-color: rgba(255, 255, 255, 0.60);
        }

        .frappe-list {
            background-color: rgba(255, 255, 255, 0.60);
        }
    }

    .layout-main-section-wrapper .layout-main-section {
        background-color: rgba(255, 255, 255, 0.60);
    }

    .standard-filter-section .form-group .input-with-feedback {
        border-radius: 5px;
        border: 1px solid #E8E8E8;
        background: #FFF;
    }

    .list-row-head {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: #F1F6FF;
        height: 81.31px;
    }

    .list-sidebar-button {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.60);
    }

    .list-filters .input-area .frappe-control .form-group .control-input-wrapper .control-input .input-with-feedback {
        border-radius: 10px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.60);
    }

    .timeline-item{
        background: transparent;
    }

    .timeline-items{
        background: transparent;
    }

    .indicator-pill {
        height: 26px;
        border-radius: 6px;
    }

    .spacer {
        background: transparent;
    }

    [data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
        background: transparent;
        border: none;
    }

    .widget {
        background: rgba(255, 255, 255, 0.60);
        border-radius: 12px;
        border: 1px solid #FFF;
    }

    .widget.shortcut-widget-box {
        border-radius: 10px;
    }

    .standard-sidebar-item.selected {
        background-image: linear-gradient(90deg, #3264F6 0%, #7A88FF 100%);
        height: 48px;
    }

    .standard-sidebar-item {
        height: 48px;
    }

    .standard-sidebar-item:hover {
        background-color: #E8F1FF;
        cursor: pointer;
    }

    .desk-sidebar-item.selected .sidebar-item-label {
        color: white !important;
    }

    .desk-sidebar-item.selected svg {
        fill: white !important;
    }

    .awesomplete .form-control {
        background-color: rgba(255, 255, 255, 0.60);
    }

    .btn-default {
        background-color: rgba(255, 255, 255, 0.60);
    }
}

.btn-uom {
    background-color: white;
    width: 56px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.btn-uom.selected {
    background-image:url("/assets/erpnext_china/icons/uom.svg");
    color: #FFF;
}

.btn-uom:hover {
    background-color: #E0E9FF;
}