[data-theme="business"] {
    body {
        background-image: url("/assets/erpnext_china/icons/bg.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .page-container {
        background: transparent;
    }

    .navbar {
        background: transparent;
    }

    .page-head {
        background: transparent;
    }

    .layout-main-section {
        background: transparent;
    }

    .spacer {
        background: transparent;
    }

    [data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
        background: transparent;
        border: none;
    }

    .widget {
        background: rgba(255, 255, 255, 0.60);
        border-radius: 12px;
        border: 1px solid #FFF;
    }

    .widget.shortcut-widget-box {
        border-radius: 10px;
    }

    .standard-sidebar .standard-sidebar-item.selected,
    .desk-sidebar .standard-sidebar-item.selected,
    .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected {
        background-image: linear-gradient(90deg, #3264F6 0%, #7A88FF 100%);
        height: 48px;
    }

    .standard-sidebar .standard-sidebar-item,
    .desk-sidebar .standard-sidebar-item,
    .search-dialog .search-results .search-sidebar .standard-sidebar-item {
        height: 48px;
    }

    .desk-sidebar-item.selected .sidebar-item-label {
        color: white !important;
    }

    .desk-sidebar-item.selected svg {
        fill: white !important;
    }

    .awesomplete .form-control {
        background-color: rgba(255, 255, 255, 0.60);
    }
}